rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
    	return request.auth != null;
    }
    
    function isOwnerOfReminder() {
    	return resource.data.owner == request.auth.uid;
    }
    
    function isOwnerOfUserProfile() {
    	return resource.data.uid == request.auth.uid;
    }

    function isMemberOfConversation() {
      return request.auth.uid in resource.data.participants; 
    }

    match /conversations/{convId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
    }

    match /messages/{message} {
      allow write: if isSignedIn();
      allow read: if true;
    }
    
    match /users/{uid} {
    	allow read;
    }
    
    match /reminders/{reminderID} {
    	allow read: if isSignedIn() && isOwnerOfReminder();
      allow update: if isSignedIn() && isOwnerOfReminder();
      allow delete: if isSignedIn() && isOwnerOfReminder();
      allow create: if isSignedIn();
    }
    
    match /user_profiles/{userProfile} {
    	allow read: if isSignedIn() && isOwnerOfUserProfile();
    	allow write: if isSignedIn() && isOwnerOfUserProfile();
    }
  }
}
